:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.header {
  display: flex;
  width: auto;
  justify-content: center;
  background: purple;
  padding: 1em;
  color: burlywood;
}

.logo {
  font-size: 1.8em;
}

.left-section {
  flex: 1 1 auto;
}